@font-face {
    font-family: "cairo-play";
    src: url("../fonts/CairoPlay.ttf");
}
@font-face {
    font-family: "redexpro";
    src: url("../fonts/redexpro.ttf");
}
@font-face {
    font-family: "changa";
    src: url("../fonts/Changa.ttf");
}
body {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #94c0ff, white);
    font-family: "redexpro";

}
.site-title{
    font-family:"cairo-play" ;
}
.site-title h3{
    font-family: "changa";
}
.err-txt {
    font-size: 12px !important;
    color: rgb(192, 33, 33);
}


.side-nav .nav-item{
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px;
    background: #666666;

}

.side-nav .nav-item:hover{
    
    background: #999696;

}



.side-nav .nav-item a,.side-nav .nav-item i{
  font-size: 18px;
  color: white;

}